<h1>Kfree家計簿</h1>

<h1>
    <a href="{% url 'payment_list' %}">支出一覧</a>
    <a href="{% url 'income_list' %}">収入一覧</a>
    <a href="{% url 'payment_create' %}">支出登録</a>
    <a href="{% url 'income_create' %}">収入登録</a>
    <a href="{% url 'Monthly_Payment' year=current_year month=current_month %}">月間支出</a>
    <a href="{% url 'transition' %}">収支推移</a>
    <a href=>収支</a>
</h1>
{% block content %}

<div class="header">支出検索</div>
<div>登録月</div>
<label class="year">
    <select>
        <option>2024年</option>
        <option>2023年</option>
        <option>2022年</option>
        <option>2021年</option>
        <option>2020年</option>
        <option>2019年</option>
    </select>
</label>
<label class="month">
    <select>
        <option>1月</option>
        <option>2月</option>
        <option>3月</option>
        <option>4月</option>
        <option>5月</option>
        <option>6月</option>
        <option>7月</option>
        <option>8月</option>
        <option>9月</option>
        <option>10月</option>
        <option>11月</option>
        <option>12月</option>
        <option>1月</option>
        <option>2月</option>
        <option>3月</option>
        <option>4月</option>
        <option>5月</option>
        <option>6月</option>
        <option>7月</option>
        <option>8月</option>
        <option>9月</option>
        <option>10月</option>
        <option>11月</option>
        <option>12月</option>
    </select>
</label>
<button class="serchbutton" type="submit">検索</button>

<table>
    <thead>
        <tr>支出一覧
        <th>日付</th>
        <th>金額</th>
        <th>カテゴリ</th>
        <th>摘要</th>
        <th>操作</th>
        </tr>
    </thead>
    <tbody>
    {% for income in incomes %}
        <tr>
            <td>{{ income.date }}</td>
            <td>{{ income.price }}</td>
            <td>{{ income.category }}</td>
            <td></td>
            <td>
            <a href="{% url 'income_update' pk=income.pk %}">
                <button class="editbutton" type="button">編集</button>
            </a>
            <a href="{% url 'income_delete' pk=income.pk %}">
                <button class="deletebutton" type="button">削除</button>
            </a>
            </td>
        {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock content %}