<h1>Kfree家計簿</h1>

<h1>
    <a href="{% url 'payment_list' %}">支出一覧</a>
    <a href="{% url 'income_list' %}">収入一覧</a>
    <a href="{% url 'payment_create' %}">支出登録</a>
    <a href="{% url 'income_create' %}">収入登録</a>
    <a href="{% url 'Monthly_Payment' year=current_year month=current_month %}">月間支出</a>
    <a href="{% url 'transition' %}">収支推移</a>
    <a href=>収支</a>
</h1>
{% block content %}

<div class="header">支出検索</div>
    <form>
    <label for="date">登録月</label>
    <select name="year">
    {% for year_option in years %}
    <option value="{{ year_option }}" {% if year_option == search_form.year %}selected{% endif %}>{{ year_option }}</option>
    {% endfor %}
    </select>
    <select name="month">
    {% for month_option in months %}
    <option value="{{ month_option }}" {% if month_option == search_form.month %}selected{% endif %}>{{ month_option }}</option>
    {% endfor %}
    </select>
    <label for="price">金額</label>
    <input name="price" value="{{ request.GET.price }}" type="text" />
    <label for="category">カテゴリ</label>
    <input name="category" value="{{ request.GET.category }}" type="text" />
    <label for="summary">摘要</label>
    <input name="summary" value="{{ request.GET.summary }}" type="text" />
    <button type="submit">検索する</button>
  </form>

<table>
    <thead>
        <tr>支出一覧
        <th>日付</th>
        <th>金額</th>
        <th>カテゴリ</th>
        <th>摘要</th>
        <th>操作</th>
        </tr>
    </thead>
    <tbody>
    {% for payment in payments %}
        <tr>
            <td>{{ payment.date }}</td>
            <td>{{ payment.price }}</td>
            <td>{{ payment.category }}</td>
            <td>{{ payment.summary }}</td>
            <td>
                <a href="{% url 'payment_update' pk=payment.pk %}">
                    <button class="editbutton" type="button">編集</button>
                </a>
                <a href="{% url 'payment_delete' pk=payment.pk %}">
                    <button class="deletebutton" type="button">削除</button>
                </a>
            </td>
        {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock content %}